
@import url('https://fonts.googleapis.com/css?family=Merriweather:100,200,300,300i,400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

body {
  font-family: "Open Sans", serif;
}

.background {
  background: #44415c;
  /* height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; */
}

.container.testi {
  
  height: 90vh;
  background: rgb(255, 255, 255, 0,2);
  box-shadow: 0px 13px 40px -13px rgba(0,0,0,0.75);
  width: 100%;
  background: url("Components/img/Ohjaamovaunu.jpg") center center no-repeat;
  background-repeat: no-repeat;
  /* text-align: center; */
}

/* .form-container {
  height: 90vh;
  padding-top: 100px;
  padding-left: 50px;
} */


input[type="text"] {
  background-color: transparent;
  border: 0;
  border-bottom: solid 1px #0bae02;
  width: 15%;
  padding-bottom: 2px;
  color: rgb(18, 7, 37);
  font-weight: lighter;
  letter-spacing: 2px;
  margin-bottom: 10px;
  margin-right: 20px;
  font-size: 20px;
  text-align: center;
}

input[type="text"] { 
    outline: none;
}

/* input:-webkit-autofill {
  
    -webkit-box-shadow: 0 0 0 30px #e97aec inset;
    -webkit-text-fill-color: #fff;
} */

button {
  border: 0;
  padding: 8px 20px;
  margin: 0 2px;
  border-radius: 2px;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 15px;
  cursor: pointer;
  background-color: #0bae02;
  color: #fff;
  font-weight: 100;
}

button:active {
  outline: none;
}

.weather__info {
  width: 80%;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 2px;
}

.route__key {
  color: #0bae02;
  /* border-bottom: solid 2px rgba(211, 32, 32, 0.06); */
  padding: 20px 40 20px 0;
  font-weight: 400;
  font-size: 25px;
  text-shadow:1px 1px #0a9202;
}
.route__key span {
  padding-right: 10px;
}

.arrow {
  width: 5%;
 
}

.scheduled__key:last-child {
  border: 0;
}

.scheduled__value {
  color: rgb(0, 0, 0);
  font-weight: 200;
  
}

.weather__error {
  color: #0bae02;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 200;
}

.row {
  background: rgb(255, 255, 255, 0.7);
  width: 90%;
  margin: auto;
  border-radius: 25px;
}

.row.size {
  margin-top: 17px;
}
.row.yla {
  background: rgb(255, 255, 255, 0);

}
.row.keski {
  background: rgb(255, 255, 255, 0);

}
.row.keski2 {
  background: rgb(255, 255, 255, 0);

}

/* _____________________________________________________SÄÄTIEDOT_______________________________________________________________________________ */

.weather_box {
  height: 5vh;
  margin-top: 0%;
  text-align: right;
  margin-right:5%; 
  

}

.city__weather {
  color: #44415c;
  /* border-bottom: solid 2px rgba(211, 32, 32, 0.06); */
  padding: 20px 40 20px 0;
  font-weight: 1000;
  font-size: 15px;
}

.city__weather span {
  padding-left: 10px;
}

/* _____________________________________________________________KELLO_________________________________________________________________________________ */
.clock__box{
  float: left;
  margin-left: 0%;

}


.clock__style {
  color: #44415c;
  /* border-bottom: solid 2px rgba(211, 32, 32, 0.06); */
  padding: 20px 40 20px 0;
  font-weight: 1000;
  font-size: 15px;
}

.mapStyle {
  
}

